.input-task {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 50px;
    background-color: antiquewhite;
    border: 2.5px solid rgb(143, 78, 203);
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    padding: 10px;
    color: rgb(64, 64, 64);
    outline: none;
}