.result__list-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    justify-content: space-between;
    width: 500px;
    height: 100px;
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
    border-radius: 5px;  
    padding: 15px;
}

.title {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 20px;
    color: rgb(64, 64, 64);
    width: 350px;
    height: 50px;
    padding: 10px;
    font-family: inherit;
    font-weight: 400;
    /* border: 1px solid rgb(143, 78, 203); */
}

.btn-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(143, 78, 203);
    border: 1px solid rgb(143, 78, 203);
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
    color: antiquewhite;
    cursor: pointer;
}

.line {
    width: 350px;
    border-bottom: 2.5px solid rgb(143, 78, 203);
}