* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    background-color: rgb(143, 78, 203);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    /* overflow: hidden; */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;  
    gap: 50px;
    /* overflow: hidden; */
}

.container-result {
    display: flex;
    gap: 20px;
    flex-direction: column;
    /* justify-content: space-between;
    width: 500px;
    height: 100px;
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
    border-radius: 5px;  
    padding: 15px; */
}



@media (max-width: 520px) {
    .container-task {
        width: 370px; 
        padding: 10px;  
        gap: 10px;    
    }
    /* .btn {
        font-size: 15px;
    }
    ::placeholder {
        font-size: 15px;
    }
    .container-search {
        width: 370px;
        padding: 10px;  
        gap: 10px;
    } */
    /* .result__list-item {
        width: 370px;
        padding: 20px 10px;  
    } */
    /* .title {
        width: 200px;
        font-size: 15px;
    }

    .line {
        width: 275px;
    }
    .btn-delete {
        width: 60px;
    } */
}
